.navbar {
  opacity: 90%;
  font-weight: var(--fw-bold);
  border-radius: 0 0 0 var(--border-radius);

  & ul {
    list-style: none;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: var(--fw-bold);
  }

  & ul li:not(:first-child)  {
    border-left: solid 1px;
    border-color: var(--color-accent) ;
  }
}

.navbar a{
  margin-left: 2rem;
  padding: 1rem;
  &:hover,
  &:focus-visible {
    color: var(--color-accent)
  }
  text-decoration: none;
}

@media (max-width: 1250px) {
  .navbar {
    display: none;
  }
}
