.navbar {

  & ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 2rem;
    font-weight: var(--fw-semi-bold);
    letter-spacing: 0.02em;
  }
}

.navbar a{
  &:hover,
  &:focus-visible {
    color: var(--color-accent);
    font-weight: var(--fw-bold);
  }
  text-decoration: none;
}

@media (max-width: 1250px) {
  .navbar {
    display: none;
  }
}
