.navbar {
  text-align: center;

  & a {
  &:hover,
  &:focus-visible {
    color: var(--color-accent);
    font-weight: var(--fw-bold);
  }
    text-decoration: none;
  }
}

.links {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-weight: var(--fw-semi-bold);
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  border-radius: var(--border-radius);
  left: 0;
  right: 0;
  display: none;
  padding: 1rem;
  z-index: -50;
  background-color: var(--background);

  & li {
    margin: 1.5em;
  }

  & li:first-of-type{
    margin-top: 6em;
  }
}

.links.open {
  display: flex;
}


@media (min-width: 85em) {

  .links {
    position: relative;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;


    & li {
      margin: 0;
    }

      & li:first-of-type{
    margin-top: 0;
  }
  }



}
