.section {
    & h2 {
    text-align: center;
  }
  
  & ul {
    --grid-min-colum-size: 320px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-min-colum-size), 100%), 1fr));
    font-weight: var(--fw-bold);
    gap: 1em;
  }

  & li {
    display: grid;
    grid-template-rows: subgrid;
    justify-items: center;
    grid-row: span 3; 
    list-style: none;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    & p {
      margin-top: 1em;
    }
    }
}

@media (min-width: 800px) and (max-width: 1400px) {
  .section ul {
    grid-template-columns: 1fr 1fr;
  }
} 