.section h2, .section h3 {
  text-align: center;
}
  
.section ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: 60px;
}

.section li {
  min-height: 400px;
  display: grid;
  margin: auto;
  justify-items: center;
  list-style: none;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: var(--border-radius);
}

.section li p {
  margin-top: 1rem;
  padding: 0;
}

@media (min-width: 800px) and (max-width: 1300px) {
  .section ul {
    grid-template-columns: 1fr 1fr;
  }
}
