.section h2, .section h3 {
  text-align: center;
}
  
.section ul {
  --grid-min-colum-size: 250px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-min-colum-size), 100%), 1fr));
  gap: 2em;
}

.section li {
  min-height: 400px;
  display: grid;
  grid-template-columns: subgrid;
  margin: auto;
  justify-items: center;
  list-style: none;
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: var(--border-radius);
}

.section li p {
  margin-top: 1em;
  padding: 0;
}

@media (min-width: 1000px) and (max-width: 1440px) {
  .section ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width < 700px) {
  .section li {
    margin-top: 2em
  }
}

