.section {
  position: relative;
  background-image: url('/assets/images/wall-texture.webp');
  z-index: 1;
  padding-left: 2em;
  padding-right: 2em;
  overflow: hidden;
}

.section h2 {
  text-align: center;
}

/* change background color */
.section::before {
  position: absolute;
  content: "";
  inset: 0;
  background-image: linear-gradient(rgba(166, 153, 148, 0.657),rgba(166, 153, 148, 0.657)); 
  z-index: -2;
}