.wrapper {
  position: sticky;
  top: 0;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90rem;

  
}

.card {
  position: relative;
  width: 80%;
  height: 70dvh;
}

.card:focus-within {
    outline: var(--focus-outline-xl);
    border-radius: var(--border-radius); 
  }

@media (max-width: 1250px) {
  .container {display: none;}
}
