.wrapper {
  position: sticky;
  top: 4em;
  height: 100vh;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

.card {
  position: relative;
  width: 70%;
  height: 80vh;
  margin: auto;
}

.card:focus-within {
    outline: var(--focus-outline-xl);
    border-radius: var(--border-radius); 
  }

@media (max-width: 1250px) {
  .container {display: none;}
}
