.wrapper {
  padding-top: 4dvh;
}

/* First letter */
.a {
  opacity: 0;
  padding-left: 34%;
  animation: reveal 0.6s ease-in-out forwards;
  animation-delay: 0.4s;
}

.n {
  opacity: 0;
  padding-left: 40%;
  animation: reveal 0.6s ease-in-out forwards;
  animation-delay: 0.7s;
}

.j {
  opacity: 0;
  padding-left: 47%;
  animation: reveal 0.6s ease-in-out forwards;
  animation-delay: 1s;
}

:is(.a, .n, .j) {
  position: relative;
  font-size: 6rem;
  margin: 0;
  color: #000000bd;
}

/* hide after at first */
.a::after,
.n::after,
.j::after {
  opacity: 0;
  position: absolute;
  margin-top: 0.95rem;
  top: 0.25em;
  font-size: 4rem;
  transform: translateX(-15%);
  color: black;
  animation: revealAfter 0.6s ease-in-out forwards;
}

/* After appears 1 by 1 when all letters are revealed */
.a::after {
  content: "ntonio";
  animation-delay: 1.2s;
}

.n::after {
  content: "OGUEIRA";
  animation-delay: 1.8s;
}

.j::after {
  content: "ulien ";
  animation-delay: 2.4s;
}

/* Animation */
@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes revealAfter {
  from {
    opacity: 0;
    transform: translateX(-15%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
