.a {
  padding: 0 0 1rem ;
}

.n {
  padding: 1rem 5rem;
}

.j {
  padding: 1rem 11rem;
}

:is(.a, .n, .j) {
  position: relative;
  font-size: 8rem;
  margin: 0;
}

/* hide ::after by default */
.a::after, .n::after, .j::after {
  content: "";
  font-size: 7rem;
  opacity: 0;
  position: absolute;
  margin-top: 0.95rem;
  transform: translateX(-15%);
  transition: opacity 0.6s, transform 0.6s ease-in-out;
}

/* create names */
.a.active::after {
  content: "ntonio";
  opacity: 1;
  transform: translateX(0%);
}

.n.active::after {
  content: "OGUEIRA";
  opacity: 1;
  transform: translateX(0%);
}

.j.active::after {
  content: "ulien";
  opacity: 1;
  transform: translateX(0%);
}

/* Delays for sequential reveal */
.delay0::after {
  transition-delay: 0.5s;
}
.delay1::after {
  transition-delay: 1s;
}
.delay2::after {
  transition-delay: 1.5s;
}