/* also styling legal page */

.page {
  position: relative;


  & h1 {
  padding: 10rem 1rem;
  text-align: center;
  margin-bottom: 4rem;
  font-size: clamp(2rem, 6vw, 6rem);
  border: solid 1px black;
  }

  & h2 {
    margin-bottom: 2rem;
    font-size: 2.75rem;
  }

  & :is(p, address) {
  margin: 1rem 0;
  }

  & ol { 
    place-self: center;
  }

  & ol li::marker{
    font-weight: 700;
    font-size:xx-large;
  }

  & ul li {
  margin-left: 4rem;
  list-style-type: square;
  position: relative;
  }


  & ol >  li::marker{
  font-weight: 700;
  font-size: large;
  }

  & ol > li {
    margin: 6rem;
    list-style-type: none;
    max-width: 50rem;
  }
}

/* background texture for h1 */

.wrapper {
  background-image: url('/assets/images/marbre.webp');
  background-size: cover;
  border-image: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)) fill 1;
  width: 100%;

}

.texture {
  background-image: url('/assets/images/marbre.webp');
  color: transparent;
  background-size: cover;
  background-clip: text;
}
