.page {
  margin: 0 4rem;
}

.page h2 {
  margin: 4rem 0;
}

.page :is(p, address) {
  margin: 1rem 0;
}

.page ol { 
  margin-left: 4rem;
}

.page ol li::marker{
  font-weight: 700;
  font-size: x-large;
}

.page ul li {
  margin-left: 4rem;
  list-style-type: square;
}

.page ul li::marker{
  font-weight: 700;
  font-size: large;
}

.page ol > li {
  margin-bottom: 3rem;
}
