.cardContainer {
  height: 400vh;
  position: relative;
}
.section {
  & h2 {
    text-align: center;
    margin: 0;
  }

/* aplica a la primera card un reveal on scroll 
  & :first-child {
    mask-image: url('/assets/TEST.png');
    mask-repeat: no-repeat;
    mask-position: center;
  }*/
}
