
/* styles for quote */
.isolation {
  text-align: center;
  max-width: 36ch;
  position: relative;
  isolation: isolate;
  font-size: 2.5rem;
  font-weight: var(--fw-semi-bold);


  & q::before {
  content: '“';
  font-family: serif;
  font-weight: 900;
  font-size: 15rem;
  position: absolute;
  color: var(--color-accent);
  opacity: 0.6;
  top: -100%;
  left: -20%;
  z-index: -1;
  }

  & q::after {
  content: '”';
  font-family: serif;
  font-weight: 900;
  font-size: 15rem;
  position: absolute;
  color: var(--color-accent);
  opacity: 0.6;
  z-index: -1;
  right: -20%;
  }
}

/* hacer reveal de la citation de gauche a droite */

