
/* styles for quote */
.isolation {
  position: relative;
  isolation: isolate;
  font-size: 2rem;
  font-weight: var(--fw-semi-bold);


  & q::before {
  content: '“';
  font-family: serif;
  font-weight: 900;
  font-size: 15rem;
  position: absolute;
  color: var(--color-accent);
  opacity: 0.6;
  top: -10rem;
  left: -12%;
  z-index: -1;
  }

  & q::after {
  content: '”';
  font-family: serif;
  font-weight: 900;
  font-size: 15rem;
  position: absolute;
  color: var(--color-accent);
  opacity: 0.6;
  z-index: -1;
  top: 2rem;
  }
}

/* hacer reveal de la citation de gauche a droite */

