.section {
  padding: 5em 0;
}
.section h1 {
  text-align: center;
  margin-bottom: 1.5em;
}

.section > p {
  font-size: 1.5rem;
}

.section > p:last-of-type {   
  margin-bottom: 4em;
  margin-top: 0;
}

@media(min-width:920px) {
  .section p {
    margin-bottom: 0;
  }

  .section > p {
    text-align: center;
  }
}