.button {
  display: inline-block;
  padding: 1em;
  border: solid 2px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  background-color: #B58C85;
}