.button {
  display: inline-block;
  padding: 1em;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  background-color: #d9bfa3;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #d3b594; /* tono más fuerte del beige */
}