.button {
  display: inline-block;
  padding: 15px 50px;
  border: solid 2px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  background-color: rgb(232, 70, 81, 0.7);
}