.section {
  & h2 {
    text-align: center;
  }

  /* contact form 2 columns */
  & > :nth-child(2) {
    background-color: var(--color-primary);
    padding: 2em 0.5em;
    border-radius: var(--border-radius);
    grid-template-columns: repeat(auto-fit, minmax(min(400px , 100%), 1fr));

  }
}

@media(min-width: 935px) {
  .section > :nth-child(2) button {
    margin-top: 3em;
    grid-column: span 2;
    width: 95%;
  }
}