.timeline {
  display: grid;
  position: relative;
  align-items: end;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr 2fr;
  grid-template-areas: 

  "contact  . visite . devis . ."
  "contact  . visite . devis . ."
  " . . visite . devis . validation"
  " . . controle . travaux . validation"
  " . . controle . travaux . validation"
  " suivi . controle . travaux . ."
  " suivi . . . travaux . . ";

    & svg {
      stroke: rgba(0, 0, 0);
    }
}

@media( min-width: 1460px) {
  .timeline {
    display: grid;
    padding: 4rem;
    width: 100%;
  }
}

