.section {
  position: relative;
  background-image: url('/assets/images/wall.jpg');

  z-index: 1;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding-left: 2em;
  padding-right: 2em;

  & h2 {
    text-align: center;
  }
}

.section::before {
  position: absolute;
  content: "";
  inset: 0;
  background-image: linear-gradient(rgba(166, 153, 148, 0.657),rgba(166, 153, 148, 0.657)); 
  z-index: -2;
}

/* 
.container {
  --grid-min-col-size: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-min-col-size), 100%), 1fr));
  gap: 2rem;
  justify-items: center;
  margin: 4rem auto 4rem auto;
  max-width: 100rem;
} */
