.section {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--color-primary);
  z-index: 1;

  & h2 {
    text-align: center;
  }
}



.container {
  place-self: center;
  --grid-min-col-size: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-min-col-size), 100%), 1fr));
  gap: 2rem;
  justify-items: center;
  margin: 4rem 0;
  max-width: 100rem;
}