.section {
  display: grid;
  grid-template-columns:  1fr 1fr;
  gap: 6rem;

  & figure {
    position: relative;
    overflow: hidden;
  }

  & p:nth-of-type(2){
    font-size: 1.6rem;
    font-weight: var(--fw-semi-bold);
  }

  /* & img {
    object-position:  54%;
  } */
}
