.section {
  --grid-min-col-size: 400px;
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(min(var(--grid-min-col-size), 100%), 1fr));
  gap: 6rem;
  padding: 12rem 0;


  & article {
    position: relative;
  }

  & figure {
    position: relative;
    overflow: hidden;
    aspect-ratio: 3 / 4;
    width: 100%;
  }

  & p:nth-of-type(2){
    font-size: 1.6rem;
    font-weight: var(--fw-semi-bold);
  }

  /* & img {
    object-position:  54%;
  } */
}

/* top corner */
.section > article::before {
  content: '';
  position: absolute;
  content: "";
  top: -5%;
  left: -10%;
  width: 100px;
  height: 10px;
  z-index: 2;
  background-color: var(--color-accent);
}

.section > article::after {
  content: '';
  position: absolute;
  content: "";
  top: -5%;
  left: -10%;
  width: 10px;
  height: 100px;
  z-index: 2;
  background-color: var(--color-accent);
}

/* bottom corner */

.section p {
  position: relative;
}

.section > article  p:last-of-type::before {
  content: '';
  position: absolute;
  content: "";
  bottom: -30%;
  right: -10%;
  width: 100px;
  height: 10px;
  z-index: 2;
  background-color: var(--color-accent);
}

.section > article  p:last-of-type::after {
  content: '';
  position: absolute;
  content: "";
  bottom: -30%;
  right: -10%;
  width: 10px;
  height: 100px;
  z-index: 2;
  background-color: var(--color-accent);
}

/* figure higher than article */
@media (min-width: 60em) {

  .section {
    & >:nth-child(2) {
    margin: 12rem 0 0 0;
    }
  }
}