.section {
  --grid-min-col-size: 400px;
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(min(var(--grid-min-col-size), 100%), 1fr));
  gap: 6rem;
  margin: 0 1em;

  /* top corner */
  & h2 {
    position: relative;
    padding: 30px 0 0 30px;
  }

  & h2::before {
  content: '';
  position: absolute;
  content: "";
  top: 0%;
  left: 0%;
  width: 100px;
  height: 10px;
  z-index: 2;
  background-color: var(--color-accent);
  } 

  & h2::after {
  content: '';
  position: absolute;
  content: "";
  top: 0%;
  left: 0%;
  width: 10px;
  height: 100px;
  z-index: 2;
  background-color: var(--color-accent);
  }


/* bottom corner */

  & article {
    position: relative;
  }

  & article::before {
  content: '';
  position: absolute;
  content: "";
  bottom: 0%;
  right: 0%;
  width: 100px;
  height: 10px;
  z-index: 2;
  background-color: var(--color-accent);
  }

  & article::after {
  content: '';
  position: absolute;
  content: "";
  bottom: 0%;
  right: 0%;
  width: 10px;
  height: 100px;
  z-index: 2;
  background-color: var(--color-accent);
  }


  & figure {
    position: relative;
    overflow: hidden;
    aspect-ratio: 3 / 4;
    width: 100%;

    & img {
      transform:rotateY(180deg);
    }
  }

  & p:first-of-type {
    font-size: 1.6rem;
    font-weight: var(--fw-semi-bold);
  }

  & p {
    padding: 0 30px;
  }
}




/* figure higher than article */
@media (min-width: 60em) {

  .section {
    padding: 12rem 8rem 8rem;
    max-width: 85em;
    margin: auto;

    & >:nth-child(2) {
    margin: 16rem 1rem 0 1rem;
    }
  }
}