.filter select {
    border: none;
    font: inherit;
    padding: 0.5em ; 
    margin-left: 0.5em;
    border-radius: var(--border-radius);
    appearance: none;
}

.wrapper {
  columns: 3 20rem;
  gap: 1rem;
  

  & li {
    list-style-type: none;
    margin: auto;
  }

  & img {
    display: block;  /* reset margen */
    cursor:zoom-in;
    transition: transform 300ms ease-in-out;
      width: 100%;
      height: auto;
      transition: transform 0.4s ease, filter 0.4s ease;
  } 
}

@media(min-width: 768px) {
  .wrapper img:hover {
    transform: scale(1.02);
    filter: brightness(0.7); 
  }
}
