.wrapper {
  padding: 4rem;
  columns: 3 26rem;
  gap: 1rem;

  & img {
    display: block;  /* reset margen */
    cursor: pointer;
    transition: transform 400ms ease-in-out;
  }

  & img:hover {
    transform: scale(1.05);
    filter:saturate(1.5)
  }
}
