.hero {
  height: 800px;
  overflow: hidden;
}

.info{
  margin: 2rem 0;
  background-color: color-mix(in srgb, var(--color-primary) 90%, transparent);
  height: auto;
  max-width: 39em;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  padding: 4em;
  padding-left: 8em;
  animation-name: slideInRight;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
}

.hero h2 {
  font-size: 4.25rem; 
  margin-bottom: 3rem;
}

.hero p {
  font-size: 1.5rem; 
  margin-bottom: 5rem;
}

.hero img {
  position: relative;
  z-index: -10;
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

