.section > :first-child {
  display: none;
  padding-bottom: 6rem;
}

.titles {
  padding: 4rem 3rem 2rem;

  & h1 {
    text-align: center;
  }

  & :is(h2.a, h2.n, h2.j ) {
    margin-bottom: 2rem; 
  }
}

:is(.a, .n, .j) {
  position: relative;
  font-size: 4rem;
  color: #000000bd;
}


.a {
  margin-top: 6rem;
  padding-left: 1rem;
  transition-delay: 0.5s;
}

.n {
  transition-delay: 1s;
  padding-left: 4rem;
}

.j {
  padding-left: 8rem;
  transition-delay: 1.5s;
}


/* hide ::after by default */
.a::after, .n::after, .j::after {
  content: "";
  top: 0.45em;
  font-size: 2rem;
  opacity: 0;
  position: absolute;
  margin-top: 0.95rem;
  transform: translateX(-15%);
  transition: opacity 0.6s, transform 0.6s ease-in-out;
  color: black;
}

/* create names */
.a::after { content: "ntonio"; animation: reveal 1s ease-in-out forwards 0s; }
.n::after { content: "OGUEIRA"; animation: reveal 1s ease-in-out forwards 500ms; }
.j::after { content: "ulien "; animation: reveal 1s ease-in-out forwards 1s; }


@keyframes reveal {
  from {
    opacity: 0;
    transform: translateX(-15%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@media(min-width: 86em) {
  .section > :first-child {
    display: block;
    position: relative;
  }

  .titles {
    display: none;
  }
  
}