.section h2 {
  text-align: center;
}

.section p:first-of-type{
  font-size: 1.6rem;
  font-weight: var(--fw-semi-bold);
} 

.section figure {
  margin-top: 2rem;
  aspect-ratio: 16/9;
  width: 100%;
  position: relative;
}

.section figure img {
  border-radius: var(--border-radius);
}

@media (max-width: 930px) {
  .section {
    padding: 6rem 0;
  }
}