/* also styling legal page */

.page {
  position: relative;


  & h1 {
  text-align: center;
  margin-bottom: 4rem;
  font-size: clamp(2rem, 6vw, 6rem);
  max-width: 20ch;
  margin: auto;
  }

  & h2 {
    margin-bottom: 2rem;
    font-size: clamp(1.125rem, 5vw, 2rem);
  }

  & :is(p, address) {
  margin: 1rem 0;
  }

  & ol { 
    padding: 0.5em;
    place-self: center;
  }

  & ol > li {
    margin: 6em 2em;
    list-style-type: none;
    max-width: 50rem;
  }
  
  & ol li::marker{
    font-weight: 700;
    font-size: large;
  }

  & ul li {
    position: relative;
  }



}

.section {
  position: relative;
  top: -6rem;
}

/* background texture for h1 */

.wrapper {
  background-image: url('/assets/images/marbre.webp');
  background-size: cover;
  border-image: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)) fill 1;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: clamp(10rem, 10vw, 14rem);
  padding-bottom: clamp(4rem, 10vw, 10rem);
  outline: black 2px solid;
}

.texture {
  background-image: url('/assets/images/marbre.webp');
  color: transparent;
  background-size: cover;
  background-clip: text;
}
