.section {
  position: relative;
  overflow: hidden;
  top: calc(-1 * var(--navbar-size));;
  padding: 6em 0 0;
}

.section :is(h1, h2) {
  text-shadow:
  1px 1px 0 #ffffff33,  /* light */
  -1px -1px 1px #00000022; /* shadow */
}

.section h1 {
  margin-top: 6rem;
  text-align: center;
}
  
.section figure {
  height: 110vh;
  opacity: 0.1;
}
