.section {
  position: relative;
  padding-top: 10rem;
}

.section h2 {
  padding: 1em;
  text-align: center;
  margin: 0;
}

.section:nth-child(2) {
  height: 600vh;
  position: relative;
}

.section > div:last-of-type {
  position: absolute;
  inset: 0;
  margin-bottom: 4rem;
  margin-top: 150vh;
}

.section a {
  position: sticky;
  top: 85%;
  margin-inline: auto;
  max-width: 300px;
  display: block;
  text-align: center;
}
