.section {
  position: relative;

  & h2 {
    padding: 1em;
    text-align: center;
    margin: 0;
  }

  &:nth-child(2) {
    height: 600vh;
    position: relative;
  }

  & > div:last-of-type {
    
    position: absolute;
    inset: 0;
    padding-bottom: 8em;
    margin-top: 150vh;
  }

    & a {
    position: sticky;
    top: 85%;
    animation: reveal 1s ease-in-out;
    margin-inline: auto;
    max-width: 300px;
    display: block;
    text-align: center;
  }
}