:root {
  scroll-behavior: smooth;
  interpolate-size: allow-keywords;
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:is(html, body) {
  max-width: 100vw;
  overflow-wrap: break-word;
  word-break: break-word;
}

body {
  color: var(--foreground);
  background: var(--color-secondary);
  font-family: var(--font-secondary), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 0 auto;
}

a {
  color: var(--color-links);
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}


h1 { font-size: 4.25rem; }
:is(h2, caption) { font-size: 3.5rem; margin-bottom: 10rem; text-transform: uppercase;}
h3 { font-size: 1.625rem; }

:is(h1, h2, h3, h4, caption) {
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
  line-height: 1.1;
  text-wrap: balance;
  color: var(--color-heading);
  max-width: 100%;
}

:is(p, li) {
  text-wrap: pretty;
}

p {
  margin: 0;
}

.base-layout {
  --padding-inline: 2rem;
  --content-max-width: 100ch;
  --breakout-max-width: 130ch;

  --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

  display: grid;
  grid-template-columns: [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr)  [full-width-end];
}

.base-layout > :not(.breakout, .full-width) {
  grid-column: content;
}

.base-layout > .breakout {
  grid-column: breakout;
}

.base-layout > .full-width {
  grid-column: full-width;
}

/* Applied to enhance accessibility for "read me" buttons. 
  This style is used on the span element that describes the action triggered when clicking the link. 
  The element remains in the DOM for screen readers but is visually hidden from the layout to maintain accessibility. */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  overflow: hidden;
}

.section {
  padding: 14rem 0rem;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.42);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}