:root {
  --background: #ECE8E4;
  --foreground: #171717;

  --color-default: #212529;
  --color-heading:rgb(39, 83, 126)9;

  --color-links: #212529;
  --color-links-hover: red;

  --color-primary: #CCBFB9 ;
  --color-primary-light: #26282c ;
  --color-primary-dark: #5A5653 ;

  --color-secondary: #ECE8E4 ;
  --color-secondary-light: #8498aa ;
  --color-secondary-dark: #d4b3a4 ;

  --color-accent: #d7845d;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 800;

  --navbar-size: 60px;
  --border-radius: 20px;
  --focus-border-radius: var(--border-radius); 
  /* focus estandar */
  --focus-outline: 2px solid var(--color-accent); 

  /* focus XL */
  --focus-outline-xl: 6px solid var(--color-accent); 
}

/* ECE8E4 9aa991*/

