:root {
  --background: #fcf8f7;
  --foreground: #171717;

  --color-default: #212529;
  --color-heading:rgb(39, 83, 126)9;

  --color-links: #212529;
  --color-links-hover: red;

  --color-primary: #CCBFB9 ;
  --color-primary-light: #26282c ;
  --color-primary-dark: #0b0c0e ;

  --color-secondary: #ECE8E4 ;
  --color-secondary-light: #8498aa ;
  --color-secondary-dark: #404f5c ;

  --color-accent: #B3C1CA;

  --fw-regular: 400;
  --fw-semi-bold: 700;
  --fw-bold: 800;
}

