:root {
  --background: #ECE8E4;
  --foreground: #171717;

  --color-default: #212529;
  --color-light: #fff;

  --color-links: #212529;
  --color-links-hover: red;

  --color-primary: #CCBFB9 ;
  --color-secondary:#d7845d ;

/* BEIGE */
--color-accent: #D9BFA3;
--color-accent-hover: #D3B49A;
--color-accent-focus: #C5A78E;

/* MARRON 
  --color-accent: #7E5E52;
  --color-accent-hover: #9A6A57;
  --color-accent-focus: #5C4137;  
*/
/* GREEN 
  --color-accent: #4f6d55;
  --color-accent-hover: #5f7f63;
  --color-accent-focus: #3f5b45;
*/

/* TERRACOTA
  --color-accent: #d7845d;
  --color-accent-hover: #e5986f;
  --color-accent-focus: #c36e4a;  
*/

/* old accent #D9BFA3 */

  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --navbar-size: 6rem;
  --border-radius: 20px;
  --focus-border-radius: var(--border-radius); 

  /* focus estandar */
  --focus-outline: 2px solid var(--color-secondary); 

  /* focus XL */
  --focus-outline-xl: 6px solid var(--color-secondary); 
}

/* ECE8E4 9aa991*/

