.dialog {
  opacity: 0;
  transition-property: opacity, display;
  transition-duration: 1s;
  transition-behavior: allow-discrete;
  background-color: rgba(0, 0, 0, 0.465);
  margin: auto;
  border: none;
  border-radius: var(--border-radius);
  pointer-events: none;
  & img {
    object-fit: contain;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px)
  }

  &[open] {
    opacity: 1;
    pointer-events: auto;

    @starting-style {
      opacity: 0;  
    }
  }

  & button:first-of-type {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 2;
  }

  & button:nth-of-type(2){
    position: absolute;
    top: 90%;
    left: 30%;
    z-index: 2;
  }


  & button:nth-of-type(3){
    position: absolute;
    top: 90%;
    right: 30%;
    z-index: 2;
  }


}

@media(width >= 890px){
  .dialog {
  & button:first-of-type {
    position: absolute;
    top: 1rem;
    left: 4%;
    z-index: 2;
  }

  & button:nth-of-type(2){
    position: absolute;
    top: 50%;
    left: 4%;
    z-index: 2;
  }


  & button:nth-of-type(3){
    position: absolute;
    top: 50%;
    right: 4%;
    z-index: 2;
  }
  }
}