.container {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  top: -10%;
  width: 95%;
  height: 78vh;
}

@media (max-width: 1250px) {
  .container {display: none;}
}