.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;


  & :first-child {
    display: flex;
    text-decoration: none;
    text-decoration-style: inherit; 
    font-weight: var(--fw-bold);
  }

}

