.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-size);
  background-color: var(--color-primary);
  opacity: 90%;
  font-weight: var(--fw-bold);
}

