.section {
  padding: 5em 0;
  
  & h1 {
    text-align: center;
    margin-bottom: 1.5em;
  }

  & > aside {
    position: relative;
    display: grid;
    background-color: #F1F0EF;
    border-radius: var(--border-radius);
    background-color: #F1F0EF;
    margin: 2rem auto;

  
}

  & a {
    position: fixed;
    bottom: 5%;
    right: 20%;
    z-index: 2;
  }
}