.wrapper{
  position: absolute;
  top: calc(-1 * var(--navbar-size));
  left: 0;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 92.56%, 2.00% 92.94%, 4.00% 93.30%, 6.00% 93.64%, 8.00% 93.96%, 10.00% 94.25%, 12.00% 94.51%, 14.00% 94.73%, 16.00% 94.93%, 18.00% 95.09%, 20.00% 95.22%, 22.00% 95.31%, 24.00% 95.36%, 26.00% 95.37%, 28.00% 95.35%, 30.00% 95.29%, 32.00% 95.19%, 34.00% 95.06%, 36.00% 94.89%, 38.00% 94.69%, 40.00% 94.45%, 42.00% 94.19%, 44.00% 93.89%, 46.00% 93.57%, 48.00% 93.23%, 50.00% 92.86%, 52.00% 92.48%, 54.00% 92.08%, 56.00% 91.67%, 58.00% 91.25%, 60.00% 90.82%, 62.00% 90.39%, 64.00% 89.97%, 66.00% 89.54%, 68.00% 89.13%, 70.00% 88.72%, 72.00% 88.33%, 74.00% 87.95%, 76.00% 87.60%, 78.00% 87.27%, 80.00% 86.96%, 82.00% 86.68%, 84.00% 86.43%, 86.00% 86.21%, 88.00% 86.02%, 90.00% 85.87%, 92.00% 85.75%, 94.00% 85.67%, 96.00% 85.63%, 98.00% 85.63%, 100.00% 85.66%);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0,0,0,0.3));
  z-index: 1;}

  .overlay::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: radial-gradient(ellipse at 30% 40%, rgba(0, 0, 0, 0.6) 0%, transparent 60%);
    z-index: 2; 
    pointer-events: none;
  }

  @media(min-width: 66em) {
    .overlay {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.0), rgba(0,0,0,0.0));
    }    
  }