.details {
  max-inline-size: 40rem;
  padding: 0.5em;
  margin-block: 1em 0;
  border-bottom: 1px solid var(--color-secondary);
  /* hyphens: auto; */
  height: 2.7lh;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.details:last-of-type{
  height: 2lh;
}

.details > div {
  padding: 0 0.5em ;
}

.details[open] {
  height: max-content;  
}


.details summary {
  padding-inline: 0.5lh;
  margin-bottom: 0.5lh;
  line-height: 1.3;
  list-style-position: outside;
  font-weight: 700;
  cursor: pointer;
}

.details summary::marker {
  color: var(--color-secondary);
}

.details ul {
  margin-bottom: 1em;
}


@media(min-width: 590px) {
  .details {
    padding: 0.5em;
    height: 2lh;
  }
  .details summary {
    margin-inline-start: 1.2lh;
  }
  
}
