.form {
  display: grid;
  justify-items: center;
  max-width: none !important; 
  background-color: var(--color-primary);
  padding: 2em 0.5em;
  border-radius: var(--border-radius);
  
  & button {
    margin-top: 6em;
    width: 90%;
  }
  
  & p {
    margin-top: 0.5em;
    font-size: 1rem;
    font-weight: var(--fw-semi-bold);
    color: red;
  }

  & .success {
    margin-top: 2em;
    color: rgb(38, 116, 2);
}

  & span {
    font-weight: var(--fw-semi-bold);
    color: rgb(255, 0, 0, 0.9);
  }



  & label {
    position: relative;
    cursor: pointer;
    font-weight: var(--fw-semi-bold);
  }


  /* textarea container */
  & > div {
    width: 90%;
    min-height: 400px;
  }

  & textarea {
    margin-top: 0.5em;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 78.45%;
    border-radius: 12px;
    padding: 1em;
    line-height: 1.6;
    background-color: var(--background);
    animation: border 0.3s ease, color 0.3s ease;

  &:focus {
    outline: none;
    animation: border-appear 0.9s ease forwards;
  }

  &:hover:not(:focus) {
    font-weight: var(--fw-semi-bold);
  }

    /* error message transparent if focus on the textarea */
    & ~ p {
      color: rgba(255, 0, 0, 0);
    }

    &:not(:focus) ~ p {
      color: red;
    }
  }

  & fieldset {
    width: 90%;
    border: none;


    /* error message transparent if focus on the input */
    & p {
      color: rgba(255, 0, 0, 0);
    }

    & div {
      height: 7em;    
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5em;
    }

    & label {
      order: -1;
    }


    & label.invalid::after {
    position: absolute;
    text-align: end;
    inset: 0;
    top: clamp(175%, 10vw, 180%);
    right: 1em;
    z-index: 2;
    content: '✕';
    font-size: 1rem;
    color: red;
    }



    input:not(:placeholder-shown) ~ .valid::after {
    position: absolute;
    text-align: end;
    inset: 0;
    top: clamp(174%, 10vw, 180%);
    right: 1em;
    z-index: 2;
    content: '✓';
    color: green;
    } 


  & input {
    border-radius: 12px;
    margin-top: 0.5em;
    cursor: pointer;
    width: 100%;
    padding: 1em 1em 0.5em;
    line-height: 1.6;
    border-radius: none;
    border: solid 2px transparent;
    background-color: var(--background);
    animation: border 0.3s ease, color 0.3s ease;
  }

  & input:focus {
    border-radius: 12px;
    outline: none; /* Quitar borde predeterminado de enfoque */
    animation: border-appear 0.9s ease forwards;
  }

  & input:not(:focus) ~ p {
    color: red;
  }

  & input:hover:not(:focus) {
    line-height: 1.6;
    font-weight: var(--fw-semi-bold);
  }
  }
}

.disable {
  opacity: 0.7;
  cursor: not-allowed;
}

.textareaError {
  position: absolute;
}

@keyframes border-appear {
  0% {
    border-left: 0px solid var(--color-accent);
    border-top: 0px solid var(--color-accent);
    border-right: 0px solid var(--color-accent);
    border-bottom: 2px solid var(--color-accent); /* mantain border bottom of the hover */
    background-color: var(--background);
  }
  33% {
    border-left: 2px solid var(--color-accent); /* left border */
    border-top: 0px solid var(--color-accent);
    border-right: 0px solid var(--color-accent);
    border-bottom: 2px solid var(--color-accent);
    background-color: var(--background);
  }
  66% {
    border-left: 2px solid var(--color-accent);
    border-top: 2px solid var(--color-accent); /* top border*/
    border-right: 0px solid var(--color-accent);
    border-bottom: 2px solid var(--color-accent);
    background-color: rgba(255, 255, 255, 0.4);
  }
  100% {
    border-left: 2px solid var(--color-accent);
    border-top: 2px solid var(--color-accent);
    border-right: 2px solid var(--color-accent); /* right border */
    border-bottom: 2px solid var(--color-accent); 
    background-color: rgba(255, 255, 255, 0.4);
  }
}

@media(min-width: 935px) {
  .form {
    grid-template-columns: 1fr 1fr;

  & button {
    margin-top: 3em;
    grid-column: 1 / -1 ; 
    width: 95%;
  }
  }
} 