.form {
  max-width: 100em;
  display: grid;
  gap: 2rem;
  justify-items: center;
  padding: 2em;

  & button {
    margin-top: 4em;
    width: 100%;
  }
  
  & p {
    margin-top: 0.5em;
    font-size: 1rem;
    font-weight: var(--fw-semi-bold);
    color: red;
  }

  & .success {
    color: rgb(38, 116, 2);
}

  & span {
    font-weight: var(--fw-semi-bold);
    color: rgb(255, 0, 0, 0.9);
  }



  & label {
    position: relative;
    cursor: pointer;
    font-weight: var(--fw-semi-bold);
  }


  /* textarea container */
  & > div {
    width: 100%;
    min-height: 20em;
/* 
    & label.invalid::after {
    position: absolute;
    inset: 0;
    top: -2px;
    left: 0.5em;
    width: 45px;
    height: 45px;
    z-index: 2;
    content: '❌';
    } */
  }

  & textarea {
    cursor: pointer;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    padding: 1em;
    line-height: 1.6;
    background-color: var(--background);

    /* error message transparent if focus on the textarea */
    & ~ p {
      color: rgba(255, 0, 0, 0);
    }

    &:not(:focus) ~ p {
      color: red;
    }
  }

  & fieldset {
    width: 100%;
    border: none;


    /* error message transparent if focus on the input */
    & p {
      color: rgba(255, 0, 0, 0);
    }

    & div {
      height: 7em;    
      display: flex;
      flex-direction: column;
    }

    & label {
      order: -1;
    }

    & label.invalid::after {
    position: absolute;
    inset: 0;
    top: 2.5em;
    left: 1em;
    z-index: 2;
    content: '✕';
    font-size: 1rem;
    color: red;
    }



    input:not(:placeholder-shown) ~ .valid::after {
    position: absolute;
    inset: 0;
    top: 1.3lh;
    left: 1em;
    width: 45px;
    height: 45px;
    z-index: 2;
    content: '✓';
    color: green;
    } 


  & input {
    cursor: pointer;
    width: 100%;
    padding: 1em 4em;
    line-height: 1.6;
    border: none;
    border-bottom: solid 1px black;
    background-color: var(--background);
  }



  & input:not(:focus) ~ p {
    color: red;
  }

  & input:hover {
    line-height: 1.6;
    border: none;
    border-bottom: solid 2px var(--color-accent);
  }
  }
}

.disable {
  opacity: 0.7;
  cursor: not-allowed;
}

