
.footer {
  background-color: var(--color-primary);
  padding: 2rem;
  border-top: solid 2px;
  text-align: center;

  & h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  & article {
    margin: 3rem 0;
  }

  & li {
    list-style: none;
  }

  & article > address{
    font-style: normal;
    grid-area: address;
  }

  & article:first-child {
    grid-area: logo;
    align-self: center;
  }

  & article:nth-child(2) {
    grid-area: address;
  }

  & article:nth-child(3) {
    grid-area: info;
  }
}


@media (width >= 48rem) { 
  .footer {
    display: grid;
    justify-items: center;
    align-items: start;
    gap: 1rem;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-areas: 
    ". logo address info ."
    ". copyright copyright copyright ." ;
    text-align: start;
  }

  .footer article {
    margin: 0;
  }

  .footer article:last-child {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    grid-area: copyright;
  }


.footer article:last-child :nth-child(2) {
  border-left: solid 2px;
  padding: 0 1rem;
}
  
}