
.footer {
  position: relative;
  background-image: url('/assets/images/wall-texture.webp');
  /* background-image: url('/assets/images/test.jpg'); */
  z-index: 1;
  padding: 2rem;
  border-top: solid 2px;
  text-align: center;

  & h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  & article {
    margin: 3rem 0;
  }

  & li {
    list-style: none;
  }

  & article:last-child {
    font-weight: var(--fw-semi-bold);
    font-size: smaller;
  }

  & article > address{
    font-style: normal;
    grid-area: address;
  }

  & article:first-child {
    grid-area: logo;
    align-self: center;
  }

  & article:nth-child(2) {
    grid-area: address;
  }

  & article:nth-child(3) {
    grid-area: info;
  }

  & a {
    text-decoration: none;
  }

  & a:hover {
    font-weight: var(--fw-bold);
  }

  & address {
    display: flex;
    flex-direction: column;
    & :first-child,
    & :last-child {
      user-select: all;
    }
  }

  & p {
    margin: 0;
    user-select: all;
  }

}

.footer::before {
  position: absolute;
  content: "";
  inset: 0;
  background-image: linear-gradient(rgba(166, 153, 148, 0.657),rgba(166, 153, 148, 0.657)); 
  /* background-image: linear-gradient(#a69994df, #a69994df);  */
  z-index: -2;
}

@media (width >= 90rem) { 
  .footer {
    display: grid;
    justify-items: center;
    align-items: start;
    gap: 4rem;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-areas: 
    ". logo info address ."
    "copyright copyright copyright copyright copyright" ;
  }

  .footer article {
    margin: 0;
  }

  .footer article:first-child {
    align-self: start;
  }

  .footer article:last-child {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    grid-area: copyright;
  }


.footer article:last-child :nth-child(1) {
  padding-left: 1rem;
} 

.footer article:last-child :nth-child(2) {
  border-left: solid 2px;
  padding-left: 2rem;
} 
  
}