.section {
  display: none;
  position: relative;
  width: 100%;
}

.section h2 {
  text-align: center;
}

.section a {
  display: block;
  width: 50%;
  padding: 1em 6em;
  margin: 4em auto;
}

@media (min-width: 1460px) {
  .section {
    display: block;
  }
}