.section {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4em;
  padding: 0 1em 4em 1em;
}

.section h3 > span {
  color: var(--color-accent);
  margin-top: 0.5em;
}

.stars {
  display: flex;
  gap: 6px;
}

.section img {
  border-radius: 100px;
  padding: 6px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 28ch;
}