.section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 10em 4em 4em;

}

.section h3 > span {
  color: var(--color-accent);
  margin-top: 0.5em;
}

.stars {
  display: flex;
  gap: 6px;
}

.section img {
  border-radius: 100px;
  padding: 6px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 16;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2em;
  max-width: 19rem;

  &:last-of-type {
    margin-top: 1.46lh;
  }
}
@media (min-width: 105em) {
  .section {
    padding: 12em 4em 4em;
  }
}

@media (min-width: 80em) {
  .section {
    padding: 8em 4em 4em;
  }
}

@media (min-width: 54em) {
  .article {
    margin: 1em;
  }
}