.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  padding-bottom: 4em;
  padding-left: 1em;
  padding-right: 1em;

}

.section h3 > span {
  color: var(--color-accent);
  margin-top: 0.5em;
}

.stars {
  display: flex;
  gap: 6px;
}

.section img {
  border-radius: 100px;
  padding: 6px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2em;
  max-width: 28ch;

  &:last-of-type {
    margin-top: 1.46lh;
  }
}