.section {
  position: relative;
  height: 1800px;

  & h2 {
    text-align: center;
  }

  & img {
      border-radius: 100px;
      padding: 6px;
      background-color: white;
  }
}

.timeline {
  padding: 4rem;
  display: grid;
  align-items: end;

  grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr 2fr;
  grid-template-areas: 

  "contact  . visite . devis . ."
  "contact  . visite . devis . ."
  " . . visite . devis . validation"
  " . . controle . travaux . validation"
  " . . controle . travaux . validation"
  " suivi . controle . travaux . ."
  " suivi . . . travaux . . "
;

}

.path {
  position: absolute;
  top: 400px;
  height: auto;
  display: block;
}
