.section {
  --grid-min-col-size: 400px;
  padding: 12rem 1rem;
  margin: 0 1em;
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(min(var(--grid-min-col-size), 100%), 1fr));
  gap: 6rem;

  & > :first-child {
    position: relative;
    padding: 0 2rem 0 2rem;
  }

  & > :nth-child(2) {
    width: 80%;
    margin: auto;
  }

  & p:first-of-type{
    font-size: 1.6rem;
    font-weight: var(--fw-semi-bold);
  } 

  /* TOP corner design */

  & > article::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -4%;
    width: 100px;
    height: 10px;
    z-index: 2;
    background-color: var(--color-accent);
  }
  
  & > article::after {
    content: '';
    position: absolute;
    content: "";
    top: -5%;
    left: -4%;
    width: 10px;
    height: 100px;
    z-index: 2;
    background-color: var(--color-accent);
  }

  
}

  /* BOTTOM corner design */
  
.section p {
  position: relative;
}

.section > article  p:last-of-type::before {
  content: '';
  position: absolute;
  content: "";
  bottom: -50%;
  right: -12%;
  width: 100px;
  height: 10px;
  z-index: 2;
  background-color: var(--color-accent);
}

.section > article  p:last-of-type::after {
  content: '';
  position: absolute;
  content: "";
  bottom: -50%;
  right: -12%;
  width: 10px;
  height: 100px;
  z-index: 2;
  background-color: var(--color-accent);
}



.wrapper {
  position: relative; 
  & figure {
    aspect-ratio: 3/4;
    width: 100%;
    }
  
  & figure:nth-child(2) {
      display: none;
    }
  
  & figure:nth-child(3) {
      display: none;
    }
}



@media (min-width: 89em) {
  .section {
    padding: 12rem 8rem 8rem;
    max-width: 85em;
    margin: auto;

  & > :first-child {
      padding: 0 2rem 8rem 2rem;
    }

  & > :nth-child(2) {
      width: 100%;
      margin: 4rem 0 0 0;
    }
  
  & p:first-of-type{
      font-size: 1.6rem;
      font-weight: var(--fw-semi-bold);
    } 
  }

  /* positioning images */

  .wrapper {
    max-width: 40rem;
    position: relative;
  
    & figure {
    position: absolute;
    aspect-ratio: 5/4;
    top: 8%;
    left: -14%;
    width: 62%;
    }
  
  
    & figure:nth-child(2) {
      display: block;
      position: absolute;
      top: -10%;
      left: 50%;
      aspect-ratio: 4 / 5;
      width: 60%;
    }
  
    & figure:nth-child(3) {
      display: block;
      position: absolute;
      top: 30%;
      left: 25%;
      aspect-ratio: 4 / 5;
      width: 60%;
      border: solid 0.6em var(--background);
    }
  }
}
