.section {
  --grid-min-col-size: 400px;
  padding: 12rem 4rem 0;
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(min(var(--grid-min-col-size), 100%), 2fr));
  gap: 6rem;


  & figure {
    position: relative;
  }

  & p:first-of-type{
    font-size: 1.6rem;
    font-weight: var(--fw-semi-bold);
  }
}