.section {
  --grid-min-col-size: 400px;
  padding-right: 10rem;
  padding-left: 10rem;
  margin: auto;
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(min(var(--grid-min-col-size), 100%), 1fr));

  & > :first-child {
    position: relative;
    padding: 0 2rem 0 2rem;
  }

  & > :nth-child(2) {
    width: 80%;
    margin: auto;
  }


  & h2 {
    text-wrap: balance;
  }

  & p:first-of-type{
    font-size: 1.6rem;
    font-weight: var(--fw-semi-bold);
  } 

  /* TOP corner design */

  & > article::before {
    content: '';
    position: absolute;
    content: "";
    top: -5%;
    left: -2%;
    width: 100px;
    height: 10px;
    z-index: 2;
    background-color: var(--color-accent);
  }
  
  & > article::after {
    content: '';
    position: absolute;
    content: "";
    top: -5%;
    left: -2%;
    width: 10px;
    height: 100px;
    z-index: 2;
    background-color: var(--color-accent);
  }

  
}

  /* BOTTOM corner design */
  
.section p {
  position: relative;
}

.section > article  p:last-of-type::before {
  content: '';
  position: absolute;
  content: "";
  bottom: -60%;
  right: 25%;
  width: 100px;
  height: 10px;
  z-index: 2;
  background-color: var(--color-accent);
}

.section > article  p:last-of-type::after {
  content: '';
  position: absolute;
  content: "";
  bottom: -60%;
  right: 25%;
  width: 10px;
  height: 100px;
  z-index: 2;
  background-color: var(--color-accent);
}



.wrapper {
  position: relative;
  margin-top: 4rem;
  
      & figure {
      aspect-ratio: 3/4;

      width: 100%;
    }
  
  
    & figure:nth-child(2) {
      display: none;
    }
  
    & figure:nth-child(3) {
      display: none;
    }
}



@media (min-width: 89em) {
  .section {

    & > :first-child {
      padding: 0 0rem 8rem 2rem;
    }

    & > :nth-child(2) {
      width: 100%;
      margin: 4rem 0 0 0;
    }
  

    & p {
      padding-right: 12rem;
    }

    & p:first-of-type{
      font-size: 1.6rem;
      font-weight: var(--fw-semi-bold);
    } 
  }

  .wrapper {
    max-width: 40rem;
    position: relative;
  
      & figure {
      position: absolute;
      aspect-ratio: 5/4;
      top: 10%;
      left: -14%;
      width: 55%;
    }
  
  
    & figure:nth-child(2) {
      display: block;
      position: absolute;
      top: -4%;
      left: 43%;
      aspect-ratio: 4 / 5;
      width: 50%;
    }
  
    & figure:nth-child(3) {
      display: block;
      position: absolute;
      top: 40%;
      left: 11%;
      aspect-ratio: 4 / 5;
      width: 50%;
      border: solid 0.8em var(--background);
    }
  }
  }
