.table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  
}

.table th, .table td .table caption {
  padding: 1rem 2rem;
}

.table thead th {
  background-color: hsla(0, 0%, 100%, 0.3);
}

.table th {
  text-align: left;
}

.table tr:nth-child(2n) {
  background-color: hsla(0, 0%, 100%, 0.3);
}

.table tbody > td {
  display: flex;
}

.table td > img {
  vertical-align: sub;
  margin-right: 8px;
}
