.table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.table :is(th, .table td .table caption)  {
  padding: 1rem 2rem;
}

.table thead th {
  background-color: hsla(0, 0%, 100%, 0.3);
}

.table th {
  text-align: left;
}

.table tr:nth-child(2n) {
  background-color: hsla(0, 0%, 100%, 0.3);
}

.table tbody > td {
  display: flex;
}

.table td {
  padding: 0.5rem 1.3rem ;
}

.table td > img {
  vertical-align: sub;
  margin-right: 8px;
}

/* border-radius table */
.table thead tr:first-child th:first-child  {
  border-radius: var(--border-radius) 0 0 0;
}

.table th:last-child{
  border-radius: 0 var(--border-radius) 0 0;
}

.table tbody tr:last-child th:first-child  {
  border-radius: 0 0 0 var(--border-radius);
}

.table tbody tr:last-child td:last-child  {
  border-radius: 0 0 var(--border-radius) 0;
}



