.table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.table th, .table td, .table caption {
  padding: 1rem;
}

.table thead th {
  background-color: hsla(0, 0%, 100%, 0.3);
}

.table th {
  text-align: left;
}

.table caption {
  font-size: 1.5rem;
  font-weight: var(--fw-semi-bold);
  text-transform: uppercase;
}

.table tr:nth-child(2n) {
  background-color: hsla(0, 0%, 100%, 0.3);
}

