.wrapper {
  width: 100%;
  position: relative;

  & img {
    object-fit: cover;
    border-radius: 25px;

    cursor: ew-resize; 
  }
}

.imagesContainer {
  height: 100%;
  width: auto;
  overflow: hidden;
  margin: auto;
}

.afterContainer {
  position: relative;
}

.beforeContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.sliderLine {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: white;
  cursor: ew-resize;
  pointer-events: none;
}

.sliderBtn {
position: absolute;
height: 2em;
background-color: rgba(255, 255, 255, 0.269);
border-radius: 100vw;
aspect-ratio: 1/1;
padding: 0.3em;
border: solid 2px white;
top: 50%;
pointer-events: none;
z-index: 100;

}