.section {
  display: grid;
  justify-items: center;
  align-items: center;

  & h2 {
    text-align: center;
  }
}

.illustration {
  display: none;
}

@media (min-width: 60rem) {
  .section {
    grid-template-columns: 2fr 1fr;
    gap:6rem
  }

  .section h2 {
      text-align: start;
  }

  .illustration {
    display: block;
  }
}