.section {
  display: grid;
  justify-items: center;
  align-items: center;
}

.illustration {
  display: none;
}

@media (min-width: 60rem) {
  .section {
    grid-template-columns: 2fr 1fr;
    gap:6rem
  }

  .illustration {
    display: block;
  }
}